<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leonhuang.xuetangx"
    android:versionCode="1"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name="com.leonhuang.xuetangx.android.IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.renn.rennsdk.oauth.OAuthActivity"
            android:configChanges="orientation|navigation|keyboardHidden" />
        <activity
            android:name="com.leonhuang.xuetangx.android.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity android:name="com.leonhuang.xuetangx.android.MainActivity" >
        </activity>
        <activity
            android:name="com.leonhuang.xuetangx.android.ChapterListActivity"
            android:parentActivityName="com.leonhuang.xuetangx.android.MainActivity"
            android:theme="@style/MyHasTitleTheme" >
        </activity>
        <activity
            android:name="com.leonhuang.xuetangx.android.LectureListActivity"
            android:parentActivityName="com.leonhuang.xuetangx.android.ChapterListActivity"
            android:theme="@style/MyHasTitleTheme" >
        </activity>
        <activity
            android:name="com.leonhuang.xuetangx.android.ItemListActivity"
            android:parentActivityName="com.leonhuang.xuetangx.android.LectureListActivity"
            android:theme="@style/MyHasTitleTheme" >
        </activity>
        <activity android:name="com.leonhuang.xuetangx.android.WebViewActivity" >
        </activity>
        <activity android:name="com.leonhuang.xuetangx.android.CourseInfoActivity" >
        </activity>
        <activity
            android:name="com.leonhuang.xuetangx.android.util.VideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance"
            android:theme="@style/NoActionBar" >
        </activity>
    </application>

</manifest>
