<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leonhuang.xuetangx"
    android:versionCode="0"
    android:versionName="0.0.3" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name="com.leonhuang.xuetangx.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.leonhuang.xuetangx.CourseListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.leonhuang.xuetangx.CourseDetailActivity"
            android:label="@string/title_activity_tweet_detail"
            android:parentActivityName="com.leonhuang.xuetangx.CourseListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leonhuang.xuetangx.TweetListActivity" />
        </activity>
        <activity
            android:name="com.leonhuang.xuetangx.PostActivity"
            android:label="@string/title_activity_post"
            android:parentActivityName="com.leonhuang.xuetangx.CourseListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.leonhuang.xuetangx.TweetListActivity" />
        </activity>
        <activity
            android:name="com.leonhuang.xuetangx.FavoActivity"
            android:label="@string/title_activity_favo" >
        </activity>
    </application>

    <use>
    </use>

</manifest>